body {
    margin-top: 20px;
}

.loading {
    background-image: url("ajax-loader.gif");
    background-repeat: no-repeat;
    display: none;
    height: 100px;
    width: 100px;
}

.subforms {
    overflow-x: visible;
    overflow-y: visible;
}

.hide {
    display: none;
}